.cards{
	display: flex;
	flex-wrap: wrap;
}

.introduction{
	text-align: center;
	background-size: 300px;
	font-size: 19px;
}

.card p {
	padding-left: 15px;
}

.card, .card2 {
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 8px;
	margin: 10px; 
	flex-basis: 300px;
	flex-grow: 1;
	background-color: #eeebdd;

}

.card h4, .card2 h4 {
	flex-grow: 1;
	padding-left: 25px;
	font-size: 20px;
}

.card img{
	width: 300px;
	border-radius: 10px;
}

.card2 img {
	width: 400px;
	border-radius: 10px;
}

